\c gym_management;

SELECT name, email 
FROM Client;

SELECT name, price, duration_months
FROM MembershipPlan
WHERE price > 2000.00;

SELECT * FROM Class 
WHERE class_type_id = 1;


SELECT c.name AS client_name, ct.name AS class_name, cl.start_time
FROM Enrollment e
JOIN Client c ON e.client_id = c.client_id
JOIN Class cl ON e.class_id = cl.class_id
JOIN ClassType ct ON cl.class_type_id = ct.class_type_id
WHERE c.name = 'Марія Коваленко';

INSERT INTO Coach (name, specialization, email, password) 
VALUES ('Віктор Балаклава', 'CrossFit', 'viktor.balaclava@gym.com', 'coach_pass_5');

SELECT * FROM Coach WHERE email = 'viktor.balaclava@gym.com';

INSERT INTO ClassType (name, description) 
VALUES ('CrossFit', 'High-intensity functional fitness training');

SELECT * FROM ClassType WHERE name = 'CrossFit';

INSERT INTO Class (class_type_id, coach_id, start_time, end_time, capacity)
VALUES (6, 5, '2024-11-05 19:00:00', '2024-11-05 20:00:00', 8);

SELECT * FROM Class WHERE class_type_id = 6;



SELECT * FROM Invoice WHERE client_id = 5 AND status = 'pending';

UPDATE Invoice
SET 
    status = 'paid',
    payment_method = 'card'
WHERE 
    client_id = 5 AND status = 'pending';

SELECT * FROM Invoice WHERE client_id = 5;



SELECT class_id, capacity FROM Class WHERE class_type_id = 2;

UPDATE Class
SET capacity = 10
WHERE class_type_id = 2;

SELECT class_id, capacity FROM Class WHERE class_type_id = 2;



SELECT * FROM Enrollment
WHERE client_id = 4 AND class_id = 4;

DELETE FROM Enrollment
WHERE client_id = 4 AND class_id = 4;

SELECT * FROM Enrollment
WHERE client_id = 4 AND class_id = 4;




DELETE FROM Class WHERE class_type_id = (SELECT class_type_id FROM ClassType WHERE name = 'CrossFit');

DELETE FROM ClassType WHERE name = 'CrossFit';

DELETE FROM Coach WHERE email = 'viktor.balaclava@gym.com';

SELECT * FROM Coach WHERE email = 'viktor.balaclava@gym.com';
SELECT * FROM ClassType WHERE name = 'CrossFit';
